name: Cifa Unit Test on Windows

on: [push, workflow_dispatch]

jobs:
  test-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Compile Unit Test
      run: |
        mkdir -p build
        cl /EHsc /I./ /Fe:build/cifa_unit_test.exe unit_test/cifa/cifa_unit_test.cpp Cifa.cpp /std:c++20 /utf-8

    - name: Run Cifa Unit Test
      run: |
        [Console]::OutputEncoding = [System.Text.Encoding]::UTF8

        ./build/cifa_unit_test.exe